@model IEnumerable<TodoMVC.Models.Task>

@{
    ViewBag.Title = "TODOアプリ";
}

<style scoped>
    .deleteTask {
        cursor: pointer;
        color: blue;
    }
</style>

<h1>@ViewBag.Title</h1>

<ul>
    @foreach (var item in Model) {
        <li id="task_@item.id" data-id="@item.id">
            @Html.DisplayFor(modelItem => item.title)
            <span class="deleteTask">[削除]</span>
        </li>
    }
</ul>

@section scripts{
    <script>
        $(function () {
            $(document).on('click', '.deleteTask', function () {
                if (confirm('本当に削除しますか？')) {
                    var id = $(this).parent().data("id");
                    $.post('@Url.Action("AjaxDeleteTask")', {
                        id: id
                    }, function (rs) {
                        $('#task_' + id).fadeOut(800);
                    });
                }
            });
        });
    </script>
}