@model IEnumerable<TodoMVC.Models.Task>

@{
    ViewBag.Title = "TODOアプリ";
}

<h1>@ViewBag.Title</h1>

<ul>
    @foreach (var item in Model) {
        <li>
            @Html.DisplayFor(modelItem => item.title)
        </li>
    }
</ul>